body {
	margin: 0;
	font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.App {
	text-align: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

main p {
	color: orangered;
	text-transform: capitalize;
	font-weight: bold;
	font-size: x-large;
}

main button {
	padding: 4px 8px;
	border-radius: 1000vh;
	outline-offset: 5px;
	border: 2px solid orangered;
	color: #333;
	font-weight: 600;
}

button:hover {
	color: orangered;
	border-color: #333;
}
button:active {
	transform: scale(0.95);
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
